/* Definindo variáveis de cores para os modos claro e escuro */
:root {
    --cor-fundo-claro: #ffffff;
    --cor-texto-claro: #000000;
    --cor-caixa-dados-claro: #f4f4f4;
    --cor-borda-claro: #dddddd;

    --cor-fundo-escuro: #111111;
    --cor-texto-escuro: #ffffff;
    --cor-caixa-dados-escuro: #333333;
    --cor-borda-escuro: #666666;

    --cor-botao-fundo: #007bff;
    --cor-botao-texto: #ffffff;
    --cor-botao-borda: #007bff;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos para o modo claro */
[data-theme="light"] {
    --cor-fundo: var(--cor-fundo-claro);
    --cor-texto: var(--cor-texto-claro);
    --cor-caixa-dados: var(--cor-caixa-dados-claro);
    --cor-borda: var(--cor-borda-claro);
}

/* Estilos para o modo escuro */
[data-theme="dark"] {
    --cor-fundo: var(--cor-fundo-escuro);
    --cor-texto: var(--cor-texto-escuro);
    --cor-caixa-dados: var(--cor-caixa-dados-escuro);
    --cor-borda: var(--cor-borda-escuro);
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    background-color: var(--cor-caixa-dados);
    color: var(--cor-texto);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"] {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme="dark"] input[type="file"] {
    background-color: #333;
    color: #fff;
    border-color: #666;
}

.btn {
    padding: 12px 24px; /* Padding interno menor para os botões */
    border-radius: 8px;
    background-color: var(--cor-botao-fundo);
    color: var(--cor-botao-texto);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Adiciona transição de cor da borda */
    border: 1px solid var(--cor-botao-borda); /* Define a cor da borda */
}

[data-theme="dark"] .btn {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-escuro);
    border: 1px solid var(--cor-borda-escuro);
}

.btn {
    transition: opacity 0.3s ease;
}

.btn:hover {
    opacity: 0.7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2, .container {
    animation: fadeIn 1s ease forwards;
}

.logo-container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.logo-container img {
    width: 100px;
    height: auto;
    animation: heartbeat 1s ease infinite;
    filter: invert(100%) brightness(100%);
}

[data-theme="dark"] .logo-container img {
    filter: hue-rotate(180deg);
}

#theme-toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

[data-theme="dark"] #theme-toggle-btn {
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-escuro);
    border: 1px solid var(--cor-borda-escuro);
}

label.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--cor-botao-fundo);
    color: var(--cor-botao-texto);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

label.btn:hover {
    opacity: 0.7;
}

.welcome {
    font-size: 2.5em;
}

.lead {
    font-size: 1.2em;
}

.container-subtitulo {
    margin-top: 20px;
}

.container-subtitulo p {
    font-size: 1.1em;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

h2 {
    margin-top: 40px;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

blockquote {
    border-left: 5px solid #007bff;
    padding-left: 15px;
    margin-top: 20px;
}

blockquote p {
    font-size: 1em;
}

footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}


footer a:hover {
    text-decoration: underline;
}
.logo-container {
            position: absolute;
            top: 40px; /* ajuste a distância do topo conforme necessário */
            left: 250px; /* ajuste a distância da esquerda conforme necessário */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2, .container {
    animation: fadeIn 1s ease forwards;
}

/* Define a animação de batida do coração à logo */
.logo-container {
    position: absolute;
    top: 100px; /* Distância de 20px a partir do topo */
    left: 500;
    transform: translateX(-50%);
    z-index: 999; /* Garante que a logo fique acima do conteúdo */
}

.company-name {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    transition: color 0.3s ease;
}

body.dark-mode .btn {
    background-color: #007bff; /* Azul */
    color: #ffffff; /* Texto branco */
    border: 1px solid #007bff; /* Borda azul */
}

body.dark-mode button[class="btn btn-secondary"] {
    background-color: #007bff; /* Azul */
    color: #ffffff; /* Texto branco */
    border: 1px solid #007bff; /* Borda azul */
}