<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>IA MRI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    

    <!--<link th:href="@{/styles.css}" rel="stylesheet" />-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />



</head>
<body>
<div class="container-principal">
    <div th:class = "container">
        <h1 class="welcome">Welcome home!</h1>
    </div>
    <div th:class="container-subtitulo">
        <p>Faça o upload de suas imagens para a IA analisar:</p><br>
        <a href="/upload">MRI analyzer</a>
    </div>
</div>
<div class="container-2">
    <!-- Logout button -->
    <a href="#" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="btn btn-primary">
        Logout
    </a>
    <!-- Hidden logout form -->
    <form id="logout-form" th:action="@{/logout}" method="post" style="display: none;">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>