<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>IA MRI</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    <!--<link th:href="@{/styles.css}" rel="stylesheet" />-->
    <link th:href="@{/css/stylesRegistration.css}" rel="stylesheet" />
</head>
<body>
<h2 class="company-name">MEGACARE</h2>
<div class="logo-container text-center">
    <img th:src="@{/images/batimento-cardiaco.png}" alt="Logo Batimento Cardíaco">
</div>
<button id="theme-toggle-btn" class="btn btn-secondary">Modo Claro</button>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required><br><br>


    <label for="name">Name:</label>  <!-- Corrected from "Nome" to "Name" for consistency -->
    <input type="text" id="name" name="name" th:field="*{name}" required><br><br> <!-- Corrected th:field -->

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:field="*{email}"><br><br> <!-- Corrected th:field and added name attribute -->

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required><br><br>

    <!-- Add more fields as needed -->
    <button type="submit">Register</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function() {
    const themeToggleBtn = document.getElementById('theme-toggle-btn');
    const body = document.body;

    // Verifica o tema atual ao carregar a página
    const currentTheme = localStorage.getItem('theme');

    if (currentTheme === 'dark') {
        enableDarkMode();
    } else {
        disableDarkMode();
    }

    // Alterna entre os modos claro e escuro ao clicar no botão
    themeToggleBtn.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            disableDarkMode();
        } else {
            enableDarkMode();
        }
    });

    function enableDarkMode() {
        body.classList.add('dark-mode');
        themeToggleBtn.textContent = 'Modo Claro';
        localStorage.setItem('theme', 'dark');
    }

    function disableDarkMode() {
        body.classList.remove('dark-mode');
        themeToggleBtn.textContent = 'Modo Escuro';
        localStorage.setItem('theme', 'light');
    }
});

// Função para pré-visualização da imagem
function previewImage(event) {
    const file = event.target.files[0];
    const imagePreview = document.getElementById('imagePreview');
    const imagePreviewContainer = document.getElementById('imagePreviewContainer');

    if (file) {
        const reader = new FileReader();
        reader.onload = function(event) {
            imagePreview.src = event.target.result;
            imagePreviewContainer.style.display = 'block';
        }
        reader.readAsDataURL(file);
    } else {
        imagePreview.src = '#';
        imagePreviewContainer.style.display = 'none';
    }
}
</script>
</body>
</html>
