<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/stylesUpload.css}" rel="stylesheet" />
    <title>Send Image</title>
</head>
<body>
<!-- <div th:class = "container">
    <h1>Submita suas imagens aqui</h1>
    <section class="container">
        <section class="container-formulario">
            <h3 class="titulo-formulario">Faça o upload das suas imagens aqui</h3>
            <form action="/uploadImage" method="POST" enctype="multipart/form-data" th:object="${formularioEnvio}">
                <input type="file" name="image" accept="image/*" multiple required>
                <div class="container-input">
                    <label for="nomePaciente">Nome Paciente</label>
                    <input type="text" th:field="*{nomePaciente}">

                    <label for="contatoPaciente">Contato</label>
                    <input type="text" th:field="*{contatoPaciente}">

                    <label for="descricaoDiagnostico">Descrição</label>
                    <input type="text" th:field="*{descricaoDiagnostico}">
                </div>

                <br>
                <button type="submit">Upload</button>
            </form>
        </ection>
    </section>
</div> -->

<div th:class = "container">
    
    <div class="form-container">
        
        <h2>Diagnóstico de Raio-X</h2>
        <form id="diagnosisForm">
            <div class="form-group">
                <label for="patientName">Nome Completo do Paciente</label>
                <input type="text" th:field="*{nomePaciente}">
            </div>
            <div class="form-group">
                <label for="contactNumber">Número de Contato</label>
                <input type="text" th:field="*{contatoPaciente}">
            </div>
            <div class="form-group">
                <label for="imageUpload">Imagem Para Diagnóstico</label>
                <input type="file" id="imageUpload" name="imageUpload" accept="image/*" class="btn" required>            
            </div>
            <div class="form-group">
                <label for="description" class="custom-label">Descrição:</label>
                <input type="text" th:field="*{descricaoDiagnostico}">
            </div>
            <button type="submit" class="btn">Upload</button>
        </form>
    </div>
    <div class="preview-container" id="imagePreviewContainer" style="display: none;">
        <label id="previewLabel">Pré-visualização:</label>
        <img id="imagePreview" src="#" alt="Pré-visualização da Imagem">
    </div>
</div>

</body>
</html>