<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnóstico de Raio-X</title>
    <script src="https://cdn.rawgit.com/seikichi/tiff.js/master/tiff.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/stylesUpload.css}" rel="stylesheet">
</head>
<body>
<h2 class="company-name">MEGACARE</h2>
<!-- Logo centralizada -->
<div class="logo-container text-center">
    <img th:src="@{/images/batimento-cardiaco.png}" alt="Logo Batimento Cardíaco">
</div>

<!-- Container principal com o formulário de diagnóstico e pré-visualização da imagem -->
<div class="container">
    <div class="form-container">
        <h2>Diagnóstico de Ressonância</h2>
        <form action="/uploadImage" method="POST" enctype="multipart/form-data" th:object="${formularioEnvio}">
            <div class="form-group">
                <blockquote class="blockquote">
                    <label for="patientName">Nome Completo do Paciente</label>
                    <input type="text" id="patientName" th:field="*{nomePaciente}" class="form-control" required>
                </blockquote>
            </div>
            <div class="form-group">
                <blockquote class="blockquote">
                    <label for="contactNumber">Número de Contato</label>
                    <input type="text" id="contactNumber" th:field="*{contatoPaciente}" class="form-control" required>
                </blockquote>
            </div>
            <div class="form-group">
                <blockquote class="blockquote">
                    <label for="uploadImage">Imagem Para Diagnóstico</label>
                    <input type="file" id="uploadImage" name="uploadImage" accept="image/*" class="form-control-file" required>
                </blockquote>
            </div>
            <div class="form-group">
                <blockquote class="blockquote">
                    <label for="description">Descrição:</label>
                    <textarea id="description" th:field="*{descricaoDiagnostico}" class="form-control" rows="4" required></textarea>
                </blockquote>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>
    <div class="preview-container" id="imagePreviewContainer" >
        <img id="imagePreview" src="#" alt="Pré-visualização da Imagem">
    </div>
</div>

<!-- Botão de alternância de tema -->
<button id="theme-toggle-btn" class="btn btn-secondary">Modo Claro</button>

<!-- Importando o arquivo de script JavaScript -->
<!--<script src="script.js"></script> -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const themeToggleBtn = document.getElementById('theme-toggle-btn');
    const body = document.body;

    const currentTheme = localStorage.getItem('theme');
    if (currentTheme === 'dark') {
        enableDarkMode();
    } else {
        disableDarkMode();
    }

    themeToggleBtn.addEventListener('click', function() {
        if (body.classList.contains('dark-mode')) {
            disableDarkMode();
        } else {
            enableDarkMode();
        }
    });

    function enableDarkMode() {
        body.classList.add('dark-mode');
        themeToggleBtn.textContent = 'Modo Claro';
        localStorage.setItem('theme', 'dark');
    }

    function disableDarkMode() {
        body.classList.remove('dark-mode');
        themeToggleBtn.textContent = 'Modo Escuro';
        localStorage.setItem('theme', 'light');
    }

    document.getElementById('uploadImage').addEventListener('change', previewImage);

    function previewImage(event) {
        const file = event.target.files[0];
        const imagePreview = document.getElementById('imagePreview');
        const imagePreviewContainer = document.getElementById('imagePreviewContainer');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(event) {
                const buffer = event.target.result;

                // Check if the file is a .tif file
                if (file.type === 'image/tiff') {
                    const tiff = new Tiff({ buffer: buffer });
                    const canvas = tiff.toCanvas();
                    imagePreview.src = canvas.toDataURL();
                } else {
                    imagePreview.src = event.target.result;
                }

                imagePreview.classList.add('show');
                imagePreviewContainer.classList.add('active');

                // Move the form to the left
                document.querySelector('.container').style.transform = 'translateX(-150px)';
            }
            reader.readAsArrayBuffer(file); // Use readAsArrayBuffer for .tif files
        } else {
            imagePreview.src = '#';
            imagePreview.classList.remove('show');
            imagePreviewContainer.classList.remove('active');
            document.querySelector('.container').style.transform = 'translateX(0)';
        }
    }

    async function enviarFormulario(event) {
        event.preventDefault();

        const form = document.getElementById('diagnosisForm');
        const formData = new FormData(form);

        const response = await fetch('/uploadImage', {
            method: 'POST',
            body: formData
        });

        if (response.ok) {
            const imageUrl = await response.text();
            document.getElementById('imagePreview').src = imageUrl;
            document.getElementById('previewLabel').textContent = 'Resultado';
            document.getElementById('imagePreviewContainer').style.display = 'block';
        } else {
            console.error('Upload failed');
        }
    }

    document.getElementById('diagnosisForm').addEventListener('submit', enviarFormulario);
});




</script>

</body>
</html>
